body {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  width: auto;
}

div.results {
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 25px;
  width: 500px;
  height: 250px;
}

h1#title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  margin-bottom: 10px;
}
